<footer id="footer" class="fw-bg-color-black fw-border-box fw-pt-65 fw-pb-30">
    <div class="container">
        <div class="fw-grid fw-grid-bottom fw-grid-20">
            <div class="fw-width-1-1 fw-width-2-3@m fw-text-center fw-text-left@m">
                <div><i class="icon icon-yamaha-red"></i></div>
                <div><p class="fw-mt-10 fw-mb-0 fw-fz-16 fw-color-red">Приобрести продукцию MusicCast можно в фирменных магазинах <br> официального дистрибьютора YAMAHA на территории Республики Казахстан “YMGroup”:</p></div>
            </div>
            <div class="fw-width-1-1 fw-width-1-3@m fw-text-center fw-text-right@m">
                <div><a href="http://yamahashop.kz/" target="_blank" class="fw-fz-22 fw-text-underline-hover fw-color-red">www.yamahashop.kz</a></div>
                <div><a href="http://ymusic.kz/" target="_blank" class="fw-fz-22 fw-text-underline-hover fw-color-red">www.ymusic.kz</a></div>
            </div>
        </div>
        <div class="fw-grid fw-grid-20 fw-mt-40">
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l fw-flex fw-flex-middle fw-flex-top@m">
                <p class="fw-mt-0 fw-mb-10 fw-fz-24 fw-color-white fw-flex fw-flex-middle">
                    <span class="fw-mt-inverse-5 fw-mr-5"><i class="icon icon-marker"></i></span>
                    <span>Алматы</span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Магазин YAMAHA</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Ул. Шевченко, 76 (уг. ул. Желтоксан)</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14 fw-flex fw-flex-top">
                    <span class="fw-flex-shrink-no fw-mr-5">Тел.:</span>
                    <span class="fw-flex fw-flex-column"><a href="tel:+7–727–261–77–79" class="fw-text-underline-hover fw-color-white fw-mb-5">+7–727–261–77–79</a> <a href="tel:+7–727–261–75–70" class="fw-text-underline-hover fw-color-white">+7–727–261–75–70</a></span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14"></p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">E-mail: <a href="mailto:almaty@ymusic.kz" class="fw-text-underline-hover fw-color-white">almaty@ymusic.kz</a></p>
            </div>
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l fw-flex fw-flex-middle fw-flex-top@m">
                <p class="fw-mt-0 fw-mb-10 fw-fz-24 fw-color-white fw-flex fw-flex-middle">
                    <span class="fw-mt-inverse-5 fw-mr-5"><i class="icon icon-marker"></i></span>
                    <span>Астана</span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Магазин YAMAHA</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Ул. Б. Момышулы, 23</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14 fw-flex fw-flex-top">
                    <span class="fw-flex-shrink-no fw-mr-5">Тел.:</span>
                    <span class="fw-flex fw-flex-column"><a href="tel:+7–7172–43–22–16" class="fw-text-underline-hover fw-color-white fw-mb-5">+7–7172–43–22–16</a> <a href="tel:+7–771–906–73–06" class="fw-text-underline-hover fw-color-white">+7–771–906–73–06</a></span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14"></p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">E-mail: <a href="mailto:astana@ymusic.kz" class="fw-text-underline-hover fw-color-white">astana@ymusic.kz</a></p>
            </div>
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l fw-flex fw-flex-middle fw-flex-top@m">
                <p class="fw-mt-0 fw-mb-10 fw-fz-24 fw-color-white fw-flex fw-flex-middle">
                    <span class="fw-mt-inverse-5 fw-mr-5"><i class="icon icon-marker"></i></span>
                    <span>Караганда</span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Магазин YAMAHA</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Пр-т Н. Абдирова, 25</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Тел.: <a href="tel:+7–7212–50–56–62" class="fw-text-underline-hover fw-color-white">+7–7212–50–56–62</a>,</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Факс: +7–7212–50–56–62</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">E-mail: <a href="mailto:karaganda@ymusic.kz" class="fw-text-underline-hover fw-color-white">karaganda@ymusic.kz</a></p>
            </div>
            <div class="fw-width-1-1 fw-width-1-2@m fw-width-1-4@l fw-flex fw-flex-middle fw-flex-top@m">
                <p class="fw-mt-0 fw-mb-10 fw-fz-24 fw-color-white fw-flex fw-flex-middle">
                    <span class="fw-mt-inverse-5 fw-mr-5"><i class="icon icon-marker"></i></span>
                    <span>Павлодар</span>
                </p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Магазин YAMAHA</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Ул. Павлова, д.31</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Тел.: <a href="tel:+7–7182–50–99–90" class="fw-text-underline-hover fw-color-white">+7–7182–50–99–90</a></p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">Факс: +7–7182–50–91–75</p>
                <p class="fw-mt-5 fw-mb-0 fw-color-white fw-fz-14">E-mail: <a href="mailto:pavlodar@ymusic.kz" class="fw-text-underline-hover fw-color-white">pavlodar@ymusic.kz</a></p>
            </div>
        </div>
    </div>
</footer>