<header id="header" class="fw-bg-color-black fw-relative">
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-border-box fw-pt-20 fw-pb-20 fw-pr-20 fw-border-style-solid-right fw-border-color-red fw-border-width-5">
            <div class="fw-flex-shrink-no fw-mr-40"><a href="#"><i class="icon icon-yamaha-white"></i></a></div>
            <div class="fw-flex-grow-1">
                <nav id="navigation" class="navigation navigation--init">
                    <ul class="navigation__list">
                        <li><a href="#welcome" class="link-to fw-text-underline-hover fw-color-white fw-mr-20 fw-fz-16">Главная страница</a></li>
                        <li><a href="#re-style" class="link-to fw-text-underline-hover fw-color-white fw-mr-20 fw-fz-16">RE:Style</a></li>
                        <li><a href="#beauty-and-cleaver" class="link-to fw-text-underline-hover fw-color-white fw-mr-20 fw-fz-16">Красивый и умный контроль</a></li>
                        <li><a href="#specifications" class="link-to fw-text-underline-hover fw-color-white fw-mr-20 fw-fz-16">Спецификации</a></li>
                        <li><a href="#footer" class="link-to fw-text-underline-hover fw-color-white fw-fz-16">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="fw-flex-shrink-no fw-ml-40">
                <a href="#" id="navigation-trigger" class="fw-height-30 fw-width-50 fw-flex fw-flex-column fw-flex-space-between">
                    <div class="fw-height-3 fw-width-1-1 fw-bg-color-white"></div>
                    <div class="fw-height-3 fw-width-1-1 fw-bg-color-white"></div>
                    <div class="fw-height-3 fw-width-1-1 fw-bg-color-white"></div>
                </a>
                <p class="header-info fw-margin-none fw-color-red fw-fz-14 fw-ml-10">Wireless Music System MusicCast</p>
            </div>
        </div>
    </div>
</header>